header.wp-block-template-part {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

html {
    scroll-behavior: smooth;
}

.entry-content.wp-block-post-content > * {
    scroll-margin-top: 90px;
}

/* Offset für Adminbar (Desktop) */
body.admin-bar header.wp-block-template-part {
    top: 32px;
}

/* Offset für Adminbar (Mobile) */
@media screen and (max-width: 782px) {
    header.wp-block-template-part {
        position: sticky;
        top: 0;
    }
    
    body.admin-bar header.wp-block-template-part {
        top: 0;
    }

    .entry-content.wp-block-post-content.has-global-padding.is-layout-constrained.wp-block-post-content-is-layout-constrained {
        margin-top: -46px !important;
    }

    .wp-block-navigation__responsive-close {
        padding: 0 !important;
    }
    
}

/* Header Animation */
header.wp-block-template-part {
    transition: all 0.3s ease;
    background-color: transparent;
    color: var(--wp--preset--color--base);
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}
  
header.wp-block-template-part a {
    color: var(--wp--preset--color--base);
}
  
body.scrolled header.wp-block-template-part {
    background-color: var(--wp--preset--color--accent-5);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    color: var(--wp--preset--color--contrast);
    padding-top: 0;
    padding-bottom: 0;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}
  
body.scrolled header.wp-block-template-part a {
    color: var(--wp--preset--color--contrast);
}

/* Navigation Modal fix */
body.menu-open header.wp-block-template-part {
    position: relative;
    z-index: auto;
}

body.menu-open {
    overflow: hidden;
}


/* Navigation Modal Animation */
/*
.wp-block-navigation__responsive-container {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 0.2s ease, visibility 0s linear 0.2s;
}

.wp-block-navigation__responsive-container.is-menu-open {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
  transition-delay: 0s;
}

.wp-block-navigation__responsive-dialog {
  transform: translateY(-1rem);
  transition: transform 0.2s ease;
}

.wp-block-navigation__responsive-container.is-menu-open .wp-block-navigation__responsive-dialog {
  transform: translateY(0);
}
*/

/*
body.scrolled .wp-block-navigation__responsive-container.is-menu-open {
    padding: 0 !important;
}
*/

/* Fix für Standard WP-Padding und -Margin Top */
main.wp-block-group {
    margin-top: 0 !important;
    padding-top: 0 !important;
}

main.wp-block-group > .wp-block-group {
    margin-top: 0 !important;
    padding-top: 0 !important;
}

/* Fix für Standard WP-Margin für Site-Blocks */
.wp-site-blocks > * {
    margin-top: 0 !important;
}

/* Fix für Gutena Forms Anzeige */
.wp-block-gutena-form-field {
    min-width: 400px !important;
}

textarea.gutena-forms-field {
    font-family: var(--wp--preset--font-family--manrope) !important;
}

.wp-block-gutena-form-field > * {
    font-family: var(--wp--preset--font-family--manrope) !important;
}

/* HTR Modal Styles */
.htr-modal-content-close-btn {
    color: transparent !important;
    background-color: transparent !important;
    border: none !important;
}

.htr-modal-content-close-btn::before {
    content: "✖";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--wp--preset--color--base);
    font-size: 1.2em;
    pointer-events: none;
}

.htr-modal-content-background {
    background-color: rgba(0, 0, 0, 0.2) !important;
    backdrop-filter: blur(20px) !important;
    -webkit-backdrop-filter: blur(20px) !important;
}

/* Media Queries für Flexbox-Layout (Desktop First)*/
@media screen and (max-width: 959px) {
    .wp-block-group-is-layout-flex.is-nowrap {
        flex-wrap: wrap !important;
    }

    .wp-block-group.is-layout-flex.is-nowrap p,
    .wp-block-group.is-layout-flex.is-nowrap h1,
    .wp-block-group.is-layout-flex.is-nowrap h2,
    .wp-block-group.is-layout-flex.is-nowrap h3,
    .wp-block-group.is-layout-flex.is-nowrap h4,
    .wp-block-group.is-layout-flex.is-nowrap h5 {
        max-width: 100% !important;
    }
}

@media screen and (max-width: 559px) {
    .wp-block-gutena-form-field {
        min-width: auto !important;
    }
}

/* Media Queries für Navigation (Mobile First nach Gutenberg Standard) */

@media screen and (min-width: 960px) {
    .wp-block-navigation__responsive-container-open:not(.always-shown) {
        display: none !important;
    }

    .wp-block-navigation__responsive-container:not(.hidden-by-default):not(.is-menu-open) {
        display: block !important;
        position: relative !important;
        width: 100% !important;
        z-index: auto !important;
    }

    .wp-block-navigation__responsive-container.is-menu-open {
        left:0;
    }

    .wp-block-navigation .has-child .wp-block-navigation__submenu-container .wp-block-navigation__submenu-container {
        left: 100%;
        top: -1px;
    }

    .wp-block-navigation__submenu-icon {
        margin-right: 0.25em;
    }

    .wp-block-navigation__submenu-icon svg {
        transform: rotate(-90deg);
    }

    .wp-block-navigation.has-background .has-child .wp-block-navigation__submenu-container .wp-block-navigation__submenu-container {
        left: 100%;
        top: 0;
    }

    .has-modal-open .admin-bar .is-menu-open .wp-block-navigation__responsive-dialog {
        margin-top: 32px;
    }
}

@media screen and (min-width: 600px) and (max-width: 959px) {
    button.wp-block-navigation__responsive-container-open:not(.always-shown) {
        display: flex !important;
    }

    .wp-block-navigation__responsive-container:not(.hidden-by-default):not(.is-menu-open) {
        display: none !important;
    }
}