header.wp-block-template-part {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

body {
    padding-top: var(--wp--style--root--padding-top, 100px); /* ggf. anpassen */
}

/* Offset für Adminbar (Desktop) */
body.admin-bar header.wp-block-template-part {
    top: 32px;
}
  
@media screen and (max-width: 782px) {
    header.wp-block-template-part {
        position: sticky;
        top: 0;
    }
    
    body.admin-bar header.wp-block-template-part {
        top: 0;
    }
    
    /* Menü im geöffneten Zustand anpassen */
	.wp-block-navigation__responsive-container.is-menu-open {
		position: fixed;
        margin: 0 !important;
        padding: 0.5em 0 !important;
		inset: 0; /* top: 0; right: 0; bottom: 0; left: 0 */
		width: 100vw;
		height: 100vh;
		overflow-y: auto;
		z-index: 1001;
	}

	/* Damit der innere Bereich sich natürlich anpasst */
	.wp-block-navigation__responsive-dialog {
		height: auto;
		max-height: none;
		padding: 0px !important;
		box-sizing: border-box;
	}

    .wp-block-navigation__responsive-close {
        padding: 33px 30px;
        display: flex;
        justify-content: right;
    }
    
}

/* Header Animation */
header.wp-block-template-part {
    transition: all 0.3s ease;
    background-color: transparent;
    color: white;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}
  
header.wp-block-template-part a {
    color: white;
}
  
body.scrolled header.wp-block-template-part {
    background-color: rgba(var(--wp--preset--color--base-rgb, 255, 255, 255), 0.8);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    color: black;
    padding-top: 0;
    padding-bottom: 0;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}
  
body.scrolled header.wp-block-template-part a {
    color: black;
}

body.scrolled .wp-block-navigation__responsive-container.is-menu-open {
    padding: 0 !important;
}
